<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../../js/angular.constants.js"></script>
  <script type="text/javascript" src="../../js/main_app.js"></script>
  <script type="text/javascript" src="../../js/login.js"></script>

  <div ng-app='app' ng-controller='loggedCtrl as vm'>
    <h1>Logged</h1>
    <p>AccessToken: {{vm.access_token}}</p>
    <!-- <p>ExpirationDate: {{vm.expirationDate}}</p> -->
    <p>TokenType: {{vm.token_type}}</p>
  </div>
</body>
</html>