<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../../js/angular.constants.js"></script>
  <script type="text/javascript" src="../../js/main_app.js"></script>
  <script type="text/javascript" src="../../js/login.js"></script>

  <div ng-app='app' ng-controller='registerCtrl as vm'>
    <h1>Login</h1>
    <form action="/oauth2/signup" method="post">
      <input name="username" type="text" ng-model="vm.username">
      <input name="password" type="text" ng-model="vm.password">
      <input name="client_id" type="hidden" ng-value="vm.client_id">
      <input name="redirect_uri" type="hidden" ng-value="vm.redirect_uri">
      <input name="response_type" type="hidden" ng-value="vm.response_type">
      <div>
      <input type="submit" value="SignUp">
      </div>
    </form>
  </div>
</body>
</html>