<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Ej de AngularJS</title>
</head>
<body>
    <h1>Hola {{nombre}}</h1>
    <div class="contenedor">
        <form action="">
            ¿Cómo te llamas? <input type="text" ng-model="nombre">
        </form>
    </div>

    <div ng-app ng-init="pensamientos = [];">
    <h1>Altavoz AngularJS</h1>
    <p>
        ¿Qué hay de nuevo?
        <br />
        <input type="text" ng-model="nuevoPensamiento" /> 
        <input type="button" value="Agregar" ng-click="pensamientos.push(nuevoPensamiento); nuevoPensamiento = '';" />
    </p>
    <h2>Pensamientos que has tenido</h2>
    <p ng-repeat="pensamiento in pensamientos" ng-init="paso = $index">
        Pensaste esto: {{pensamiento}} (Iteración con índice {{paso}})
    </p>
</div>

<input type="text" ng-model="campotexto">
   <br />
   {{ campotexto }} - {{ camposelect }}
   <br />
   <select ng-model="camposelect">
      <option value="uno">1</option>
      <option value="dos">2</option>
   </select>

   <input type="button" ng-click="campotexto='DesarrolloWeb.com'" value="Pulsa aquí">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</body>
</html>