  <div id="yourdiv">
    <div id="column1">
      <li ng-repeat="pais in vm.paises">País: <span>{{pais.name}}</span>, capital: {{pais.capital}}</li>

      <div ng-repeat="item in vm.items">
        <canvas id="{{item.id}}" width="252" height="218" style="{{item.styles}}"></canvas>
        <canvas id="{{item.idfore}}" class="fore" width="252" height="218" style="{{item.styles}}"></canvas>
        <canvas id="{{item.idover}}" class="over" width="252" height="218" style="{{item.styles}}"></canvas>
      </div>

      <!-- <canvas id="c1" class="c1" width="252" height="218"></canvas>
      <canvas id="c1over" class="c1 over" width="252" height="218"></canvas>
      <canvas id="c2" class="c2" width="252" height="218"></canvas>
      <canvas id="c2over" class="c2 over" width="252" height="218"></canvas>
      <canvas id="c3" class="c3" width="252" height="218"></canvas>
      <canvas id="c3over" class="c3 over" width="252" height="218"></canvas>
      <canvas id="c4" class="c4" width="252" height="218"></canvas>
      <canvas id="c4over" class="c4 over" width="252" height="218"></canvas>
      <canvas id="c5" class="c5" width="252" height="218"></canvas>
      <canvas id="c5over" class="c5 over" width="252" height="218"></canvas>
      <canvas id="c6" class="c6" width="252" height="218"></canvas>
      <canvas id="c6over" class="c6 over" width="252" height="218"></canvas>
      <canvas id="c7" class="c7" width="252" height="218"></canvas>
      <canvas id="c7over" class="c7 over" width="252" height="218"></canvas> -->
    </div>
  </div>
    
  <style type="text/css">

/*    #c {
      position: absolute;
      top: 0;
      left:0;
      width: 100px;
      height: 100px;
      background-color: rgba(255, 255, 10, 0.5);
    }*/

    #yourdiv {
      display:block;
      cbackground-color: rgba(255, 0, 0, 0.5);
    }

    #column1 {
      position: relative;
      margin: 0px auto 0px;
      width: 1008px;
      height: 1000px;
      cbackground-color: rgba(255, 0, 0, 0.5);
    }

/*    .c1 {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .c2 {
      position: absolute;
      top: 109px;
      left: 189px;
    }

    .c3 {
      position: absolute;
      top: 0px;
      left: 378px;
    }

    .c4 {
      position: absolute;
      top: 109px;
      left: 567px;
    }

    .c5 {
      position: absolute;
      top: 0px;
      left: 756px;
    }

    .c6 {
      position: absolute;
      top: 218px;
      left: 0px;
    }

    .c7 {
      position: absolute;
      top: 327px;
      left: 189px;
    }*/

    .over {
      opacity: 0;
    }

    .over:hover {
      opacity: 1;
    }

    p {
      padding: 0;
      margin: 0;
    }

  </style>