<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Probando Ajax en AngularJS</title>
    <style>
        body{ font-family: sans-serif;}
        li{
            font-size: 0.8em;
        }

        li span{
            font-weight: bold;
        }

        .ggg {
          background-color: #0F0;
        }

        header {
          position: fixed;
          height: 100px;
          width: 100%;
          background-color: #F00;
          z-index: 1001;
        }

        #overVeil {
          position: fixed;
          width: 100%;
          height: 100%;
          z-index: 1000;
          background-color: rgba(100,100,100,.5);
          display: none;
        }

        .displayShow {
          display: inline !important;
        }

        .displayHide {
          display: none !important;
        }

        li {
          display: inline-block;
        }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-app="app">

  <header>
    <ul>
      <li><a ng-class="{ggg: activeTab === 'home'}" ui-sref='home'>Home</a></li>
      <li><a ng-class="{ggg: activeTab === 'account'}" ui-sref='account'>Account</a></li>
      <li id="loginBut"><a href="/login" target="_self">Login</a></li>
      <li id="logoutBut" ng-class="displayHide"><a ng-click="logout()">Logout</a></li>
    </ul>
    <p>{{activeTab}}</p>
  </header>


  <div style=" position:absolute; top: 100px; width: 100%; bottom:0px; overflow:scroll;">
    <div id="overVeil" ng-class="{displayShow: showVeil===true}"></div>
    <div ui-view='main_ui_view'></div>
  </div>

  <footer>
  </footer>


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="./js/angular.constants.js"></script>
  <script type="text/javascript" src="./js/main_app.js"></script>
  <script type="text/javascript" src="./js/login.js"></script>

</body>
</html>